
<div class="container mb-5">
  <div class="card text-white bg-dark mt-5">
    <div class="card-body">
      <h2 class="card-title">Frequently Asked Questions</h2>
      <p class="card-text">
        We've compiled a list of our most common questions and have given answers.  Check if your question is mentioned below and 
        click on it to be taken to your answer.  If you happen to find that your questions is not answered, please use the 
        contact us form to reachout and we will answer it to the best of our ability.  
      </p>
      <ul>
        <li><a class="faqLink" [ngx-scroll-to]="beliefInSatan">Do you believe in an actual Satan?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="animalSacrifice">Do you sacrifice animals?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="hateGod">Do Members of The Satanic Temple hate god?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="opposeGod">Is The Satanic Temple in opposition to God?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="membersBeliefs">What do members of The Satanic Temple believe in?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="cosAffiliation">Is The Satanic Temple affiliated with The Church of Satan?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="isTSTAReligion">Is The Satanic Temple a religion?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="tenents">What are the Seven Tenents of The Satanic Temple?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="officialChapter">Is The Satanic Temple - West Michigan an official chapter of The Satanic Temple?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="religiousServices">Does The Satanic Temple - West Michigan offer religious services of any kind?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="physicalLocation">Does The Satanic Temple - West Michigan have a physical Temple like local Christians have churches?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="citiesServed">What cities does The Satanic Temple - West Michigan serve?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="becomeAMember">How can I become a member of The Satanic Temple - West Michigan?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="mainBook">Is there a central book guiding your beliefs?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="learnMore">Where can I learn more about The Satanic Temple?</a></li>
        <li><a class="faqLink" [ngx-scroll-to]="taxExempt">Is The Satanic Temple tax exempt like other religions?</a></li>
      </ul>

      <h4 #beliefInSatan>Do you believe in an actual Satan?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #animalSacrifice>Do you sacrifice animals?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #hateGod>Do Members of The Satanic Temple hate god?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #opposeGod>Is The Satanic Temple in opposition to God?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #membersBeliefs>What do members of The Satanic Temple believe in?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #cosAffiliation>Is The Satanic Temple affiliated with The Church of Satan</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #isTSTAReligion>Is The Satanic Temple a religion?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #tenents>What are the Seven Tenents of The Satanic Temple?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #officialChapter>Is The Satanic Temple - West Michigan an official chapter of The Satanic Temple?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #religiousServices>Does The Satanic Temple - West Michigan offer religious services of any kind?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #physicalLocation>Does The Satanic Temple - West Michigan have a physical Temple like local Christians have churches?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #citiesServed>What cities does The Satanic Temple - West Michigan serve?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #becomeAMember>How can I become a member of The Satanic Temple - West Michigan?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #mainBook>Is there a central book guiding your beliefs?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #learnMore>Where can I learn more about The Satanic Temple?</h4>
      <p>PLACE HOLDER TEXT</p>
      <h4 #taxExempt>Is The Satanic Temple tax exempt like other religions?</h4>
      <p>PLACE HOLDER TEXT</p>
    </div>
  </div>
</div>