<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark mt-5">
  <a class="navbar-brand" [routerLink]="['/home']">TSTWM</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/events']">Events</a>
    </li>
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/faq']">FAQs</a>
    </li>
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/signup']">Become A Member</a>
    </li>
  </ul>
</nav>